*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#toollist1{
  display: none;
  border: 1px solid rgb(57, 239, 191);
  height: 3.5vh;
  background-color: #0c417e00;
  color: #0EE4CB;
  
  
}
#toollist2{
  height: 3.5vh;
  border: 1px solid rgb(51, 220, 178);
  background-color: #0c417e00;
  color: rgb(32, 237, 169);
  position: absolute;
  top: 70vh;
  z-index: 3;
}

#map{
  position: fixed;
  top: 0vh;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

#indicaters{
  position: absolute;
  z-index: 2;
  width: 15vw;
  height: 37vh;
  background-color: rgba(16, 42, 87, 0.79);
  top: 9vh;
  left: 4vw;
  border-radius: 15px;
  border: 2px solid rgb(36, 237, 190);
}

#toolkit{
  display: none;
  position: absolute;
  z-index: 2;
  width: 20vw;
  height: 5.4vh;
  background-color: rgb(21, 40, 102);
  top: 39vh;
  left: 54vw;
  border-radius: 15px;
}

.spac_span{
  padding-left: 3vw;
}



.grid_1{
  position: absolute;
  z-index: 4;
  width: auto;
  height: 8vh;
  left: 88vw;
}

.map_choose{
  display: inline-block;
  background-color: #21e93f;
  color: rgb(18, 67, 51);
  height: 3vh;
  border-radius: 1vw;
  padding: 4px;
  
}


.map_choose:checked + .map_choose_s{
  border: 2px solid #21e93f;

}



.map_choose_s.a1{
  margin-top: 1vh;
  background-image: url("./images/1.png");
  background-size: 17vh;
  border: 2px solid blue;
}
.map_choose_s.a2{
  background-image: url("./images/2.png");
  background-size: 17vh;
  margin-top: 1vh;
  border: 2px solid blue;
}
.map_choose_s.a3{
  background-image: url("./images/3.png");
  background-size: 17vh;
  margin-top: 1vh;
  border: 2px solid blue;
}
.map_choose_s.a4{
  background-image: url("./images/4.png");
  background-size: 17vh;
  margin-top: 1vh;
  border: 2px solid blue;
}


.span_map_choose{
  width: 4vw;
  height: 4vw;
  overflow: hidden;
  border: #2f00ff 2px solid;
}

.overlay_text{
  color: #000000;
  margin: 4px;
  display: inline-block;
  font-size: 1.4vw;
  width: 20vw;
  height: 4vh;
}

.locate {
  position: absolute;
  z-index: 8;
  top: 6em;
  left: .5em;
  top: 90vh;
  left: 90vw;

}

#indicaters1{
  
  position: absolute;
  width: 24vw;
  height: 100vh;
  background-color: #ffffff;
  left: 0vw;
  top: 0vh;
  padding: 7px;
  overflow-y: scroll;
  z-index: 2;
}




#indicaters1::-webkit-scrollbar {
  display: none;
}

.overlay_text{
  font-size: 1.4vw;
  color: #15102d;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: 0px solid rgb(184, 175, 175);
}

.book_charging_button{
  position: absolute;
  width: 7;
  height: 4.6vh;
  border-radius: 0.6vw;
  top: 83vh;
  left: 5vw;
}

.locate_me.button{
  position: relative;
  
  height: 3vw;
  width: 3vw;
  border-radius: 10vh;
  background-color: #0800ff;
  color: #d9ff00;
}


.line.indicaters1{
  position: absolute;
  left: 0vw;
  top: 28vh;
  width: 24vw;
  border: 1px solid rgba(0, 0, 0, 0.475);
  /* height: 1px; */
}


.charging.station{
  width: 22vw;
  height: 27vh;
  position: absolute;
  top: 30.5vh;
  left: 1vw;
}

.discription.info{
  position: absolute;
  top: 60vh;
  left: 1.5vw;
  width: 21vw;
}





@media  only screen and (max-width: 600px) {

  .map_choose_s{
    height: 5vh;
  }

  

  .button_text{
    display: none;
  }

  .grid_1{
    left: 86vw;
    width: 2vw;
  }
  .dropdown-menu > li{
      width: 11vw;
      height: 5vh;

  }
  .dropdown-menu.show{

   min-width: auto;
   padding-left: 0.4vw;
    width: 12vw; 
  }

  .dropdown-toggle{
    width: 12.9vw;
  }

  #indicaters1{
   
    position: fixed;
    width: 100vw;
    height: 46vh;
    background-color: #ffffff;
    left: 0vw;
    top: 54vh;
    padding: 0px;
    overflow-y: auto;
    z-index: 2;
  }

  body {font-family: Arial, Helvetica, sans-serif;}

  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 54vh;
    width: 100%; /* Full width */
    height: 46vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
  }
  
  /* Modal Content */
  .modal-content {
    position: fixed;
    top: 54vh;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 1.4s
  }
  
  /* The Close Button */
  
  
  .modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }


  .overlay_text{
    width: 90vw;
    font-size: 3.4vw;
  }

  .book_charging_button{
    top: 87vh;
    left: 35vw;
  }

  .locate_me.button{
    position: relative;
    
    height: 10vw;
    width: 10vw;
    border-radius: 10vh;
    background-color: #0800ff;
    color: #d9ff00;
  }


  .line.indicaters1{
    position: absolute;
    left: 0vw;
    top: 28vh;
    width: 100vw;
    border: 1px solid rgba(0, 0, 0, 0.475);
    /* height: 1px; */
  }


  .charging.station{
    width: 90vw;
    height: 37vh;
    position: absolute;
    top: 30.5vh;
    left: 5vw;
  }

  .discription.info{
    position: absolute;
    top: 70vh;
    left: 1.5vw;
    width: 90vw;
  }
  
  /* Add Animation */
  @-webkit-keyframes slideIn {
    from {top: 100vh; } 
    to {top: 54vh; }
  }
  
  @keyframes slideIn {
    from {top: 100vh; }
    to {top: 54vh; }
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
}